footer {
  background-color: #183d0c;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
}
footer .row {
  justify-content: space-around;
}
footer li {
  margin-top: 5%;
  margin-left: -50%;
}
footer .title {
  color: #fff;
  padding: 1%;
}

footer .description {
  color: #fff;
  padding: 1%;
}

.footer-link,
.footer-link:hover {
  color: #fff;
  display: flex;
  flex-direction: row;
}

footer .fa {
  padding-right: 4%;
  font-size: 1.4em;
}

footer .link-text {
  margin-left: 4%;
  width: 100%;
}
footer .link-text:first-of-type {
  margin-left: 2%;
}

@media (max-width: 450px) {
  footer {
    min-height: 240px;
  }
  .list-unstyled {
    margin-top: 25%;
    margin-left: -50%;
  }
  .list-unstyled li:nth-child(-n + 2) {
    margin-left: -40%;
  }
}
