footer {
  background-color: #183d0c;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
}
footer .row {
  justify-content: space-around;
}
footer li {
  margin-top: 5%;
  margin-left: -50%;
}
footer .title {
  color: #fff;
  padding: 1%;
}

footer .description {
  color: #fff;
  padding: 1%;
}

.footer-link,
.footer-link:hover {
  color: #fff;
  display: flex;
  flex-direction: row;
}

footer .fa {
  padding-right: 4%;
  font-size: 1.4em;
}

footer .link-text {
  margin-left: 4%;
  width: 100%;
}
footer .link-text:first-of-type {
  margin-left: 2%;
}

@media (max-width: 450px) {
  footer {
    min-height: 253px;
  }

  .footer-link .fa {
    max-width: 100%;
    font-size: 3em;
    margin-left: 75%;
  }
  .link-text {
    display: none;
  }
  footer .footer-link span:last-of-type {
    margin-top: 20%;
    margin-left: 30%;
    width: 338px;
  }
  #footer-facebook-link {
    margin-top: 23%;
    margin-left: 10%;
  }
  #creator-link {
    display: list-item !important;
    margin-left: -169%;
    margin-top: 22%;
  }
  .list-unstyled li:nth-child(-n + 2) {
    margin-left: -40%;
  }
  .footer .phone-number {
    font-size: 1.2em;
  }
}
@media (min-width: 480px) {
  footer {
    height: 240px;
  }
  .footer .phone-number {
    font-size: 1.2em;
  }
}
