$mainColor: #316b22; 
$secondaryColor: #f77a0f; 

:root {
  --main-color: $mainColor; 
  --secondary-color: $secondaryColor; 
}

html {
  position: relative;
  min-height: 100%;
  overflow-x: hidden; 
}

body {
  padding: 0;
  height: 100%; 
  overflow-x: hidden; 
}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}

.primary-font {
  /* font-family: "Balsamiq Sans", cursive; */
  font-family: "Piedra", cursive;
  color: $mainColor !important;
  font-size: 3.3em;
  letter-spacing: 2px;
}
.secondary-font {
  font-family: "Barlow Semi Condensed", sans-serif;
}
.primary-font-color {
  color: $mainColor !important;
}
.secondary-font-color { 
  color: $secondaryColor !important; 
}