.auth-content {
  display: flex;
  flex-direction: column;
}

.auth-content a {
  color: #000;
}
.auth-content a:hover {
  text-decoration: none;
  color: initial;
  background: rgba(0, 0, 0, 0.07);
}
.dropdown-menu {
  padding: 0 !important;
}
#logout {
  background: none;
  background: transparent !important;
  border: none;
  box-shadow: none;
}
