.auth-content {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 120px;
  right: 20px;
  background: white;
}

.auth-link {
  padding: 1em;
}

.dropdown-menu {
  padding: 0 !important;
  z-index: 999999;
}

#logout {
  background: none;
  background: transparent !important;
  border: none;
  box-shadow: none;
}

/* @media (max-width: 480px) {
  .auth-content {
    display: flex;
    flex-direction: column;
    margin-top: 18%;
    text-align: right;
    margin-right: 5%;
  }
} */
