.footer {
  background-color: #183d0c;
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 40px 10px;
  height: 250px; 
  font-size: 18px;

  a { 
    color: #fff;
    opacity: 0.9;

    &:hover { 
      opacity: 1;
      text-decoration: none;
    }
  }

  .container-fluid { 
    display: flex;
    height: 100%;
  }

  &__title { 
    flex-basis: 100%; 
    font-size: 24px;
    margin-bottom: 20px; 
  }

  &__description { 
    align-self: flex-start;
    flex-basis: 40%; 
  }

  &__socials { 
    width: 100%; 
    height: 100%; 

    ul { 
      display: flex; 
      justify-content: flex-end;
      flex-direction: column;
      align-self: flex-end;
      height: 100%; 

      li { 
        display: flex; 
        align-self: flex-end;
        font-size: 18px;

        .footer-link { 
          min-width: 250px; 
          margin-right: 10px; 
        }

        .fa { 
          padding-right: 4%;
          font-size: 18px;
        }
      }
    }
  }

  &__left { 
    width: 50%; 
  }

  &__right { 
    width: 50%; 
  }

  @media (max-width: 321px) {
      height: 340px;
      flex-wrap: wrap; 

    .footer .phone-number {
      font-size: 1.2em;
    }

    &__left { 
      width: 100%; 
    }

    &__right { 
      width: 100%; 
      margin: 0 auto; 
      text-align: center; 
    }

    &__socials { 
      ul li { 
        display: flex;
        justify-content: center;
        width: 100%; 

        .footer-link { 
          margin-right: 0; 
        }
      }
    }
  }
  
}


// footer a {
//   opacity: 0.9;
// }

// footer a:hover {
//   opacity: 1;
//   text-decoration: none;
// }
// /* 
// footer .row {
//   justify-content: space-around;
// }
// footer li {
//   margin-top: 5%;
//   margin-left: -50%;
// } */
// footer .title {
//   color: #fff;
//   padding: 1%;
// }

// footer .description {

// }

// .footer-link,
// .footer-link:hover {
//   color: #fff;
//   display: flex;
//   flex-direction: row;
// }

// footer .fa {
//   padding-right: 4%;
//   font-size: 1.4em;
// }

// footer .link-text {
//   margin-left: 4%;
//   // width: 100%;
// }
// footer .link-text:first-of-type {
//   margin-left: 2%;
// }

// footer .phone-number a {
//   color: white;
// }

// @media (max-width: 450px) {
//   footer {
//     min-height: 253px;
//   }

//   .footer-link .fa {
//     max-width: 100%;
//     font-size: 3em;
//     margin-left: 75%;
//   }
//   .link-text {
//     display: none;
//   }
//   footer .footer-link span:last-of-type {
//     margin-top: 20%;
//     margin-left: 30%;
//     width: 338px;
//   }
//   #footer-facebook-link {
//     margin-top: 23%;
//     margin-left: 10%;
//   }
//   #creator-link {
//     display: list-item !important;
//     margin-left: -169%;
//     margin-top: 22%;
//   }
//   .list-unstyled li:nth-child(-n + 2) {
//     margin-left: -40%;
//   }
//   .footer .phone-number {
//     font-size: 1.2em;
//   }
// }

