.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 800px;
  min-width: 100%;
}

@media (max-width: 1200px) { 
  .hero-container { 
    margin-top: 120px; 
  }
}

@media (max-width: 768px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 400px;
    min-width: 100%;
  }

  .carousel-item { 
    img { 
      object-fit: cover;
      height: 400px;
      width: 400px; 
    }
  }
}

@media (max-height: 321px) { 
  .hero-container { 
    padding-top: 0; 
  }
}