main {
  padding-bottom: 50px;

  h1 {
    font-size: 10em !important;
    z-index: -1;
    margin-top: 11%;
    position: absolute;
    color: transparent !important;
  }

  h1:hover {
    color: #fff !important;
  }

  @media (max-width: 450px) {
    h1 {
      color: transparent !important;
    }
    h1:hover {
      color: transparent !important;
    }
  }
}
