.navbar {
  position: fixed;
  max-width: 100%;
  display: flex;
  align-items: center;
  height: 120px; 
  background: rgba(255, 255, 255, 0.65);
  position: fixed;
  z-index: 6;
  border: none !important;
  box-shadow: none !important;
}

.dropdown-toggle {
  border: none !important;
  background-color: transparent !important;
  font-size: 0.9em !important;
  box-shadow: none !important;
  font-family: Arial, sans-serif !important;
  text-transform: capitalize;
}

.nav-link {
  font-size: 18px;
}

.navbar-collapse {
  margin-left: 74%;
}

@media (max-width: 1200px) {
  .navbar {
    max-width: 100%;
    margin-top: -120px; 

  .mobile-nav-links {
    background: rgb(255, 255, 255);
    position: fixed;
    top: 120px; 
    z-index: 9999;
    width: 100%;

    .nav-link { 
      padding: 0 2%;

      .fa { 
        margin-right: 10px; 
      }

      .dropdown-toggle { 
        padding: 0; 
      }
    }
  }

  .navbar-toggler:focus {
    background: #316b22;
    color: #fff !important;
  }

  .nav-link:active {
    background: #316b22;
  }

  .navbar-toggler {
    z-index: 99999;
    font-size: 25px;
  }

  #basic-navbar-nav {
    left: 0;
    position: fixed;
    top: 80px;
  }

  #account-toggle {
    position: fixed;
    right: 17px;
    top: 97px;
    z-index: 9999;
    grid-column: 4 / span 5;
    grid-row: 3;
  }

  .account-dropdown {
    position: fixed !important;
    width: 100%;
    top: 232px;
  }

  .fa {
    font-size: 50px;
    color: #316b22;
    display: flex;
    align-items: center;
  }

  #services-dropdown {
    display: inline-block !important;
    width: 100%;
    position: fixed !important;
    top: 129px !important;
    left: 0;
    padding: 0% 2%;
    background: rgba(255, 255, 255, 0.98);
  }

  #services-dropdown .nav-link {
    flex: auto;
    padding: 2%;
  }
}
}
@media (min-width: 992px) {

  .desktop-nav-items {
    display: flex;
    position: absolute;
    right: 2%;
  }

  #nav-phone,
  #nav-mail {
    display: none;
  }

  #services-dropdown {
    display: flex !important;
    left: 20% !important;
    position: fixed !important;
    top: 100px !important;
    background: rgba(255, 255, 255, 0.98);
  }
  #services-dropdown .nav-link {
    flex: auto;
  }
}

@media (max-width: 481px) { 
  .navbar { 
    max-width: 100%;

    .navbar-brand { 
      font-size: 14px; 
    }

    .mobile-icons { 
      i { 
        font-size: 42px; 
      }
    }
  }

  .mobile-nav-links { 
    .call-to-action { 
      display: flex;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 321px) { 
  .primary-font { 
    font-size: 25px; 
  }

    #nav-phone,
    #nav-mail { 
    font-size: 30px; 
    margin: 5px; 
    display: flex;
    align-items: center;
  }
}