#main-nav {
  position: fixed;
  padding: 4% 2% 3% 2%;
}
.dropdown-toggle {
  border: none !important;
  background-color: transparent !important;
  font-size: 0.9em !important;
  box-shadow: none !important;
  font-family: Arial, sans-serif !important;
}
nav {
  background: rgba(255, 255, 255, 0.65);
  height: 100px;
  position: fixed;
  z-index: 6;
  border: none !important;
  box-shadow: none !important;
}
.nav-link {
  font-size: 1.2em;
}
nav a {
  color: #000 !important;
}
.navbar-collapse {
  margin-left: 74%;
}
@media (max-width: 480px) {
  nav {
    height: 80px;
  }
  .nav-links {
    background: rgba(255, 255, 255, 0.97);
    position: relative;
    z-index: 9999999;
    margin-top: 224%;
  }
  .nav-links > a {
    margin-left: 5%;
  }
  .navbar-toggler {
    margin-left: 20%;
    z-index: 99999;
  }
  #basic-navbar-nav {
    width: 30%;
    position: absolute;
    right: 2%;
  }
  .account-toggle {
    background: #fff;
    color: #316b22;
    padding: 4%;
  }
  .navbar-brand {
    font-size: 0.8em;
  }
}
@media (min-width: 480px) {
  .desktop-nav-items {
    display: flex;
    position: absolute;
    right: 2%;
  }
}
