.dropdown-toggle {
  border: none !important;
  background-color: transparent !important;
  color: #000 !important;
  font-size: 0.9em !important;
  box-shadow: none !important;
  margin-top: 10%;
  font-family: Arial, sans-serif !important;
}
nav {
  /* background: #254c19; */
  background: rgba(255, 255, 255, 0.65);
  height: 50px;
  position: absolute;
  z-index: 6;
  border: none !important;
  box-shadow: none !important;
}
nav a {
  color: #000 !important;
}
@media (max-width: 450px) {
}
