@media (min-width: 451px) {
  .what-we-offer-section .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2%;
  }
  .what-we-offer-section .services .service-content {
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .what-we-offer-section .services .service-content .img-container {
    grid-column: 1;
  }
  .what-we-offer-section .services .service-content img {
    width: 200px;
    height: 200px;
  }
  .what-we-offer-section .services .details {
    grid-column: 2;
    width: 100%;
    padding-left: 10%;
  }

  .what-we-offer-section .services .title {
    font-size: 2.4em;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
  .what-we-offer-section .services .service-short-description {
    font-size: 1.2em;
    min-width: 200px;
  }
  .what-we-offer-section .services .service-short-description::first-letter {
  }
}
@media (max-width: 450px) {
  .what-we-offer-section .services {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15%;
    padding: 2% 10%;
  }
  .what-we-offer-section .service-content {
    padding: 10% 0;
    margin-bottom: 5%;
  }
  .what-we-offer-section .services .service-content .img-container {
    display: flex;
    justify-content: center;
  }
  .what-we-offer-section .services .service-content img {
    max-height: 240px;
    max-width: 80%;
  }
  .what-we-offer-section .services .details {
    padding: 2% 4%;
    text-align: center;
  }
  .what-we-offer-section .services .title {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
  .what-we-offer-section .services .service-short-description {
    font-size: 1.4em;
    letter-spacing: 0.3px;
  }
}
.what-we-offer-section .services .title {
  color: #f77a0f;
}
.what-we-offer-section .services .service-short-description {
  color: #fff;
}
.what-we-offer-section .services .service-short-description {
  text-transform: lowercase;
}
.what-we-offer-section .services .service-short-description::first-letter {
  text-transform: uppercase;
}
