.services-section .inner-container {
  width: 100%;
  min-height: 1200px;
  margin: 0 auto;
}

.services-section h2 {
  font-weight: 500;
  font-size: 70px;
  text-align: center;
  color: #316b22 !important;
  padding-bottom: 5%;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: radial-gradient(rgba(255, 255, 255, 0.8), 80%, #0a770e61);
  width: 100%; 
  padding: 60px; 
}

@media (max-width: 481px) {
  .services-section {
    background: none !important;
    width: 100%;
    padding: 0 5%;

    h2 { 
      display: list-item; 
      text-align: center;
      padding: 40px 0; 
    }
  }
  
  .inner-container {
    background: none !important;
    border: none !important;
  }
}
