.services-section .inner-container {
  width: 100%;
  min-height: 1200px;
  margin: 0 auto;
}
.services-section h2 {
  font-weight: 500;
  font-size: 6em;
  text-align: center;
  color: #316b22 !important;
  padding: 10%;
  padding-bottom: 5%;
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 450px) {
  .services-section {
    background: none !important;
    width: 100%;
    padding: 0 5%;
  }
  .services-section h2 {
    color: #316b22 !important;
    font-size: 4em;
  }
  .inner-container {
    background: none !important;
    border: none !important;
  }
}
