.what-we-offer-section {
  padding: 15% 12%;
}
.what-we-offer-section .inner-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #18d00d;
  border-radius: 2px;
  background: #0a770e61;
}
.what-we-offer-section h2 {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding: 10%;
  padding-bottom: 5%;
  border-bottom: 4px solid #fff;
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .what-we-offer-section {
    padding: 15% 4%;
  }
}
